# Owners (in alphabetical order)
# Note: This is only for the notaryproject/.github repo and includes the Org level maintainers
* @FeynmanZhou @gokarnm @niazfk @priteshbandi @shizhMSFT @toddysm @vaninrao10 @yizha1
